{% include 'UserMgnt/header.html' %}
{% include 'UserMgnt/topbar.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Front Page</title>
</head>
<body>
<div class="panel-body">
	<div class="container-fluid">
		
		
		<div class="container col-md-8">
			<img class="img-responsive" src=" /static/images/sharing.gif">
		</div>
		
		<div class="container col-md-4">
			<h2>Welcome to <b style="text-transform:capitalize;color:#FF6347;">Note App</b></h2><hr>
			<br>
			<h3>
				- Create, Read, Update, Delete & Mark as complete Operations for Notes.<br><br>
				- Share notes with multiple users present in the database.<br><br>
				- Separate section of My Notes & Shared Notes.
			</h3>
		</div>
	</div>
</div>

</body>
</html>
{% include 'UserMgnt/footer.html' %}