{% include 'UserMgnt/header.html' %}

<style>

.navbar{
background-color: transparent	;
}

</style>


<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      
		      <a class="navbar-brand" href="#" style="color:;"><b>Notes App</b></a>
		    </div>
		
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a style="text-transform:capitalize;color:#FF6347;" data-toggle="tooltip" title="User"><i class="fa fa-user" aria-hidden="true"></i> {{username}}</a></li>
		      	<li><a href="{% url 'login' %}" data-toggle="tooltip" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"color:black;"></i> Logout</a></li>
		    </ul>
		  </div>
		  <img class="img-responsive" src=" /static/images/footer.png" width="100%" height="100px">
</nav>