{% include 'UserMgnt/header.html' %}
{% include 'UserMgnt/dash_top.html' %}
<html>
<head>

<meta http-equiv="expires" content="-1">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<html>
	<body>
		<div class="panel mb25" id="mynotes_1">
		 	<div class="container" id="mynotes_2">
	 			<div class="table-responsive ajax-container"  id="mynotes_3">
	 				<table id="table" border='1' class="table table-striped table-bordered table-hover table-condensed responsive mb lead_table">
					
						<thead>
							
							<tr>
								<th>Sr.No</th>
								<th>Note Id</th>
								<th>Note Owner Name</th>
								<th>Note Name</th>
								<th>Share Note</th>
								<th>Update Note</th>
								<th>Delete Note</th>
								<th>View Note</th>
								<th>Mark as Complete</th>
								
							</tr>
						</thead>
						<tbody>	
							{% for n in note %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{n.n_id}}</td>
								<td>{{n.n_owner}}</td>
								<td>{{n.n_name}}</td>
								
							
								
								{% if n.mark_complete == 1 %}
									<td><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#share_notes" id="shr" data-toggle="tooltip" title="Share Notes" disabled>Share Notes</button></td>
									<td><button type="button" class="btn btn-primary btn-md" id="up" data-toggle="tooltip" title="Update Notes" disabled>Update Note</button></td>	
									<td><button type="button" class="btn btn-primary btn-md" id=del" data-toggle="tooltip" title="Delete Notes" onclick="delete_note({{n.n_id}})" disabled>Delete Note</button></td>
									<td><a href="{% url 'view_note' %}?id={{n.n_id}}"><button type="button" class="btn btn-primary btn-md" data-toggle="tooltip" title="View Notes">View Note</button></a></td>
									<td><button type="button" class="btn btn-primary btn-md" data-toggle="tooltip" title="View Notes" onclick="mark_c({{n.n_id}});" disabled>Mark as Complete</button></a></td>
								{% endif %}
								{% if n.mark_complete == 0 %}
								<td><a href="{% url 'share_page' %}?id={{n.n_id}}"><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#share_notes" id="shr" data-toggle="tooltip" title="Share Notes">Share Notes</button></a></td>
									<td><a href="{% url 'update_nt' %}?id={{n.n_id}}"><button type="button" class="btn btn-primary btn-md" id="up" data-toggle="tooltip" title="Update Notes">Update Note</button></a></td>				
									<td><a href=""><button type="button" class="btn btn-primary btn-md" id=del" data-toggle="tooltip" title="Delete Notes" onclick="delete_note({{n.n_id}})">Delete Note</button></a></td>
									<td><a href="{% url 'view_note' %}?id={{n.n_id}}"><button type="button" class="btn btn-primary btn-md" data-toggle="tooltip" title="View Notes">View Note</button></a></td>
									<td><button type="button" class="btn btn-primary btn-md" data-toggle="tooltip" title="View Notes" onclick="mark_c({{n.n_id}});" >Mark as Complete</button></td>
								{% endif %}  
									
									
									
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
		

		
		
	</body>
</html>

<script >

$(document).ready(function() {
	$('#table').DataTable({"bProcessing": true,});
	
} );


function mark_c(id)
{
	
	var id = id
	
	$.ajax({
		url: "{% url 'notes.views.mark_comp' %}",
		type: "GET",
		async:false,
		data: {'nid':id},
		success: function(data){
			console.log("Data",data);
			if (data.status == 200)
			{	
				$("#table").html(data.content.n);
				
    			swal({
			      title: "Done!", 
			      text: " Note has been Mark as Complete Successfully!", 
			      html: true,
			      type:"success",
			      confirmButtonText: 'OK',
			      showCancelButton: false,
			      closeOnConfirm: true
			    });	
    			location.reload();
    			
			}
			else{
				
				alert("something goes wrong");
			}		
		},
	
		error: function(data)
		{
		//console.log(data);
		}
		});
		
}


function delete_note(id)
{
	
	var id = id

	$.ajax({
		url: "{% url 'notes.views.del_note' %}",
		type: "GET",
		async:false,
		data: {'nid':id},
		success: function(data){
			console.log("Data",data);
			if (data.status == 200)
			{	
    			swal({
			      title: "Done!", 
			      text: " Note has been Deleted Successfully!", 
			      html: true,
			      type:"success",
			      confirmButtonText: 'OK',
			      showCancelButton: false,
			      closeOnConfirm: true
			    });	
    			location.reload();
    			
			}
			else{
				
				alert("something goes wrong");
			}		
		},
	
		error: function(data)
		{
		//console.log(data);
		}
		});
}




</script>

</head></html>

{% include 'UserMgnt/footer.html' %}